NAME:
   {{template "helpNameTemplate" .}}

USAGE:
   {{wrap .UsageText 3}}

VERSION:
   {{.Version}}

DESCRIPTION:
   rpl is a command line utility for searching and replacing text.

   When invoked with the --show-diff flag, a unified diff is generated and
   printed to STDOUT with any other info or error notices printed to STDERR.

   rpl has an interactive mode with a curses user interface for walking through
   all files matching the search parameter. When in interactive mode, and the
   unified diff output is requested, the diff is printed to STDERR upon rpl
   exiting the curses user interface.

   Examples:

    # recursively change "search" to "replaced" in all matching files:
    rpl -rd "search" "replaced" . > /tmp/search-replaced.patch

    # same as above but interactively:
    rpl -rdI "search" "replaced" . 2> /tmp/search-replaced.patch

OPTIONS:
   Configuration

   --backup, -b           make backups before replacing content
   --bak value, -B value  specify the backup file suffix to use (implies -b)
   --ignore-case, -i      perform a case-insensitive search (literal or regex)
   --interactive, -I      selectively apply changes per file
   --nop, -n              report what would have otherwise been done
   --show-diff, -d        include unified diffs of all changes in the output

   Expressions

   --dot-match-nl, -s     set the dot-match-nl (?s) regex flag (implies -p)
   --multi-line, -m       set the multi-line (?m) regex flag (implies -p)
   --regex, -p            search and replace arguments are regular expressions

   File Selection

   --all, -a              include files that start with a "."
   --recurse, -r          recurse into subdirectories
   -x value [ -x value ]  exclude files matching glob patterns

   General

   --help, -h             display command-line usage information
   --quiet, -q            run silently, ignored if --nop is also used
   --verbose, -v          run loudly, ignored if --quiet is also used
   --version, -V          display the version
{{/* this comment ensures there is a trailing newline */}}